napari-plugin-engine>=0.1.4
numpy>=1.21.4
napari-pyclesperanto-assistant
napari-skimage-regionprops
napari-animation
napari-aicsimageio
PlatyMatch
napari-plot-profile
napari-manual-split-and-merge-labels
napari-accelerated-pixel-and-object-classification
napari-brightness-contrast
napari-ome-zarr
napari-itk-io
napari-plugin-search
napari-segment-blobs-and-things-with-membranes
napari-simpleitk-image-processing
napari-folder-browser
napari-crop
napari-clusters-plotter
napari-tabu
redlionfish
napari-workflow-optimizer
napari-curtain
napari-3d-ortho-viewer
