napari-plugin-engine>=0.1.4
numpy>=1.21.4
napari-pyclesperanto-assistant
napari-skimage-regionprops
napari-animation
PlatyMatch
napari-plot-profile
napari-accelerated-pixel-and-object-classification
napari-brightness-contrast
napari-plugin-search
napari-segment-blobs-and-things-with-membranes
napari-simpleitk-image-processing
napari-folder-browser
napari-crop
napari-clusters-plotter
napari-tabu
napari-workflow-optimizer
napari-workflow-inspector
napari-curtain
napari-layer-details-display
# https://github.com/napari/napari/issues/4415
# https://github.com/napari/napari/issues/4708
napari<=0.4.15
vispy<=0.9.6
napari-mouse-controls
the-segmentation-game
napari-process-points-and-surfaces
napari-blob-detection
jupyterlab
napari-czifile2
napari-roi
pydantic!=1.10.0 # https://twitter.com/Czaki_PL/status/1564908046186434566?s=20&t=YEAgvsUTuYIDRYlKREQp3A
napari-pystackreg
